<h1 id="shop">A BIG PLACE TO SHOP SMALL</h1>
<p id="about">When you enter in Fancy Jewellers, you enter the world of fancy:<br> a place where your style and your dreams are the most important things of all.<br> You are unique, and we want you to match with that perfect piece of jewellery<br><br>
    The first thing we do at our store is learn about you. Our job is to be the matchmaker<br> between you and the treasure of a lifetime, and we can only do that if we understand you.<br> Our representatives don't need to convince you to buy anything that doesn't work, <br>because they don't work on commission.</p>
    <br>
    <br>
<h2>IF YOU CAN'T STOP THINKING ABOUT IT</h2>
<h3 id="buyit">.............BUY IT..............</h3>
<div *ngFor="let i of facilities">
    <img src="{{i.url}}" alt="" height="500px" width="700px"id="image">
    <h2 id="funName">{{i.facName}}</h2>
</div>
